<nav class="">
    <MudLink Href="/">Home</MudLink>
    <MudLink Href="/about">About</MudLink>
    <MudLink Href="/perks">Perks</MudLink>
    <MudLink Href="/skills">Skills</MudLink>
    <MudLink Href="/experience">Experience</MudLink>
    <MudLink Href="/blog">Blog</MudLink>
</nav>

@code {
    
}